In [13]:
# Imported all necessary libraries here.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")
import datetime as dt
import pylab 
import scipy.stats as stats
## Display all the columns of the dataframe

pd.pandas.set_option('display.max_columns',None)

In [14]:
# Load dataframe into df object.
df = pd.read_csv("D:\\Assignement 1\\Feature Engineering\\cleaned_dataset.csv")

In [15]:
df.head()

,Price,Open,High,Low,Change %,Day,Month,Year,Volume(In Million)
0,8.029348,8.065366,8.065941,8.021558,-3.54,16.0,2.0,2022.0,-0.911602
1,8.065350,7.982515,8.068773,7.976805,8.64,15.0,2.0,2022.0,-0.616112
2,7.982522,7.962437,7.093713,7.949490,2.06,14.0,2.0,2022.0,-0.739736
3,7.962154,7.978366,7.990557,7.950957,-1.61,13.0,2.0,2022.0,-1.193627
4,7.981949,8.030019,8.050809,7.965754,-4.69,11.0,2.0,2022.0,-0.497696

In [18]:
# This function will return new_dataframe after droping specific column.
def drop_column_from_df(dataframe_name,column_name):
    return dataframe_name.drop([column_name], axis=1)
df_train = drop_column_from_df(df,'Price')

#### Feature Transformation :-
    Feature transformation is the process of  transforming a feature in to a new one with specific funtion.

In [20]:
df_train.describe()

,Open,High,Low,Change %,Day,Month,Year,Volume(In Million)
count,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000
mean,6.296143,6.333997,6.264509,0.476247,15.768727,6.445693,2020.088015,1.524705
std,1.257221,1.254787,1.250708,4.240974,8.837695,3.497201,0.882893,1.238323
min,4.649665,4.664571,4.621044,-13.220000,1.000000,1.000000,2019.000000,-2.133349
25%,5.209991,5.238116,5.188697,-1.950000,8.000000,3.000000,2019.000000,0.530628
50%,5.813757,5.867261,5.756817,0.270000,16.000000,6.000000,2020.000000,1.994020
75%,7.669082,7.685429,7.634630,2.945000,23.000000,9.000000,2021.000000,2.432736
max,8.478107,8.489629,8.458595,15.000000,31.000000,12.000000,2022.000000,3.945845

Let's apply standardization on (Change %) column bcz its have different scale.

In [33]:
def apply_standardization(value):
    return round(((value-df['Change %'].mean())/df['Change %'].std()),2)
df['Change %'] = df['Change %'].apply(lambda value: apply_standardization(value))

In [34]:
df.describe()

,Price,Open,High,Low,Change %,Day,Month,Year,Volume(In Million)
count,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000
mean,6.300075,6.296143,6.333997,6.264509,0.000028,15.768727,6.445693,2020.088015,1.524705
std,1.257436,1.257221,1.254787,1.250708,1.000038,8.837695,3.497201,0.882893,1.238323
min,4.649665,4.649665,4.664571,4.621044,-3.230000,1.000000,1.000000,2019.000000,-2.133349
25%,5.214568,5.209991,5.238116,5.188697,-0.570000,8.000000,3.000000,2019.000000,0.530628
50%,5.817654,5.813757,5.867261,5.756817,-0.050000,16.000000,6.000000,2020.000000,1.994020
75%,7.671953,7.669082,7.685429,7.634630,0.582500,23.000000,9.000000,2021.000000,2.432736
max,8.478116,8.478107,8.489629,8.458595,3.420000,31.000000,12.000000,2022.000000,3.945845

Let's apply standardization on (Day) column bcz its have different scale.

In [35]:
def apply_standardization(value):
    return round(((value-df['Day'].mean())/df['Day'].std()),2)
df['Day'] = df['Day'].apply(lambda value: apply_standardization(value))

Let's apply standardization on (Month) column bcz its have different scale.

In [38]:
def apply_standardization(value):
    return round(((value-df['Month'].mean())/df['Month'].std()),2)
df['Month'] = df['Month'].apply(lambda value: apply_standardization(value))

Let's apply standardization on (Year) column bcz its have different scale.

In [39]:
def apply_standardization(value):
    return round(((value-df['Year'].mean())/df['Year'].std()),2)
df['Year'] = df['Year'].apply(lambda value: apply_standardization(value))

In [40]:
df.describe()

,Price,Open,High,Low,Change %,Day,Month,Year,Volume(In Million)
count,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1.068000e+03,1068.000000,1068.000000,1068.000000
mean,6.300075,6.296143,6.333997,6.264509,0.000028,-5.405580e-18,-0.000515,-0.000159,1.524705
std,1.257436,1.257221,1.254787,1.250708,1.000038,9.998917e-01,1.000744,0.998503,1.238323
min,4.649665,4.649665,4.664571,4.621044,-3.230000,-1.670000e+00,-1.560000,-1.230000,-2.133349
25%,5.214568,5.209991,5.238116,5.188697,-0.570000,-8.800000e-01,-0.990000,-1.230000,0.530628
50%,5.817654,5.813757,5.867261,5.756817,-0.050000,3.000000e-02,-0.130000,-0.100000,1.994020
75%,7.671953,7.669082,7.685429,7.634630,0.582500,8.200000e-01,0.730000,1.030000,2.432736
max,8.478116,8.478107,8.489629,8.458595,3.420000,1.720000e+00,1.590000,2.170000,3.945845

In [41]:
df.head()

,Price,Open,High,Low,Change %,Day,Month,Year,Volume(In Million)
0,8.029348,8.065366,8.065941,8.021558,-0.95,0.03,-1.27,2.17,-0.911602
1,8.065350,7.982515,8.068773,7.976805,1.92,-0.09,-1.27,2.17,-0.616112
2,7.982522,7.962437,7.093713,7.949490,0.37,-0.20,-1.27,2.17,-0.739736
3,7.962154,7.978366,7.990557,7.950957,-0.49,-0.31,-1.27,2.17,-1.193627
4,7.981949,8.030019,8.050809,7.965754,-1.22,-0.54,-1.27,2.17,-0.497696